.service-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0px 10px;
}
@media only screen and (max-width:688px) {
    .service-container{
         grid-template-columns: repeat(2, 1fr);
         margin: 0px 10px;
    }
    
}
@media only screen and (min-width: 689px) and (max-Width:1024px) {
    .service-container{
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 10px;
    }
    
}